@page
@using BLL.Objects
@model WebApp.Pages.Tournaments.ListModel
@{
}

<div>
@foreach(Tournament tournament in Model.Tournaments!)
{
    <p>
        <a href="Tournament?id=@tournament.ID">@tournament.Title</a>
    </p>
}
</div>