@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DuelSys!</h1>
    <p>
        On DuelSys you will find all of the tournaments created by your local
        sport organizations.
    </p>
    <p>
        If you click on the "Tournaments" link at the top you can browse
        through all tournaments past, present, and future.
    </p>
</div>
